<h1 class="text-center">
    Articulos
</h1>

<form method="get" action="/blog/create">

    <div class="form-group">
        <label for="title">Title</label>
        <input name="title" class="form-control" id="create_posts" placeholder="Ingrese un titulo">
    </div>

    <div class="form-group">
        <label for="content">Content</label>
        <textarea name="content" class="form-control"></textarea>
    </div>

        <div class="form-group">
        <label for="image_url">Image url</label>
        <input name="image_url" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary"> Submit </button>
</form>